@import "style.css";


@media only screen and (max-width: 440px){
    header{
        max-width: 440px;
    }
    nav{
        display: none;
    }
    .PLants{
        display: none;
    }
    .logo{
        margin-left: 15px;
    }
    main .under_header{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .left_side{
        width: 100%;
        margin-bottom: -70px;
    }
    .product .left_side{
        width: 100%;
    }
    .product_sort{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .product .product_sort{
        display: block;
    }  
    .right_side{
        max-width: 440px;
        text-align: center;
    }
    .product .container{
    display: block;
    flex-direction: column;
    }
    .type_of_plants li, .categor{
        display: block;
        margin-bottom: 10px;
        margin-left:150px;
    }
    .product .product_sort ul{
        width: 100%;
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    
    .left_side img{
        display: none;
    }
    .page_number{
        float: none;
        margin-left: 80px;
        margin-top: 20px;
     }
    .Product_info{
        margin:auto;
        text-align: center;
    }
    .container_section3{
        flex-direction: column;
    }
    .intfo_case{
        display: block;
        text-align: center;
        width: 100%;
    }
    .Summer_h4{
        text-align: center;
        width: 100%;
    }
    .blog_img_text{
        width: 100%;
        text-align: center;
    }
    .text_abou_us{
        text-align: center;
    }
    .blog .blog_art{
        display: block;
    }
    .blog_img_text{
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .footer_container{
        display: block;
        flex-direction: column;
    }
    .footer_post{
        width: 100%;
       text-align: center;
       margin-bottom: 40px;
    }
    .newsletters{
        max-width: 100%;
        text-align: center;
    }
    .footer_gredient{
        width: 100%;
        gap: 20px;
     }

    .footer_gredient a img{
        display: none;
    }
    .footer_geo:before{
        display: none;
    }
    .footer_email:before{
        display: none;
    }
    .footer_telephon:before{
        display: none;
    }
    .footer_info{
        flex-direction: column;
        max-width: 100%;
    }
    .for_media{
        text-align: center;
    }
    .Social_accept{
        gap: 20px;
        text-align: center;
    }
    .Social_accept ul{
        gap: 20px;
        justify-content: space-between;
    }
}
