@import "style.css";


@media only screen and (max-width: 440px){
    header{
        max-width: 440px;
    }
    nav{
        display: none;
    }
    .PLants{
        display: none;
    }
    main .container .owl-carousel .owl-item img{
        display: none;
    }
    .logo{
        margin-left: 15px;
    }
    main .under_header{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .owl-carousel{
        display: none;
    }
    main .product .left_side{
        max-width: 100%;
        gap: 100px;
    }
    main .product .left_side ul li{
        justify-content: space-around;
    }
    main .product .product_sort{
        flex-direction: column;
    }
    main .product .right_side .type_of_product{
        flex-direction: column;
    }
    .product_sort{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .product .product_sort{
        display: block;
    }  
    .right_side{
        max-width: 440px;
        text-align: center;
    }
    .product .container{
    display: block;
    flex-direction: column;
    }
    .type_of_plants li, .categor{
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
    }
    main .left_side ul li a{
        margin: 0;
    }
    .product .product_sort ul{
        width: 100%;
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    .left_side img{
        display: none;
    }
    main .page_number{
        float: none;
        justify-content: center;
     }
    .Product_info{
        margin:auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .container_section3{
        flex-direction: column;
    }
    main .container_section3 .intfo_case{
        display: block;
        text-align: center;
        width: 100%;
    }
    main .container_section3 .intfo_case .Summer_h4{
        text-align: center;
        width: 100%;
    }
    .blog_img_text{
        width: 100%;
        text-align: center;
    }
    main .container_section3 .intfo_case .text_abou_us{
        text-align: center;
    }
    main .blog .container_section4 .blog_art{
        display: block;
        margin: auto;
    }
    main .blog .container_section4 .blog_art .blog_img_text{
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .footer_container{
        display: block;
        flex-direction: column;
    }
    .footer_container .footer_post{
        width: 100%;
       text-align: center;
       margin-bottom: 40px;
    }
    .newsletters{
        max-width: 100%;
        text-align: center;
    }
    .footer_gredient{
        width: 100%;
        gap: 20px;
     }

    .footer_gredient a img{
        display: none;
    }
    .footer_gredient .footer_geo:before{
        display: none;
    }
    .footer_gredient .footer_email:before{
        display: none;
    }
    .footer_gredient .footer_telephon:before{
        display: none;
    }
    .footer_info{
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }
    .footer_info .for_media p{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    .footer_info .for_media ul{
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
    }
    .footer_info .Social_accept{
        text-align: center;
    }
    .Social_accept ul{
        justify-content: center;
    }
}
@media only screen and (max-width: 360px){
    .type_of_plants li, .categor{
        margin-bottom: 10px;
        justify-content: center;
    }
    main .left_side ul li a{
        margin: 0;
    }
    .footer_gredient{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 768px){
    nav{
        display: none;
    }
    .PLants{
        display: none;
    }
    main .container .owl-carousel .owl-item img{
        display: none;
    }
    main .container .article_text {
        max-width: 100%;
    }
    .logo{
        margin-left: 15px;
    }
    main section .article_text{
        max-width: 100%;
        text-align: center;
    }
    .left_side{
        max-width: 100%;
        margin-bottom: -70px;
    }
    .product .left_side{
        max-width: 100%;
    }
    main .product .left_side{
        max-width: 100%;
        justify-content: space-around;
    }
    main .product .left_side ul li{
        justify-content: space-around;
    }
    main .product .product_sort{
        flex-direction: column;
    }
    main .product .right_side .type_of_product{
        flex-direction: column;
    }
    .product_sort{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .product .product_sort{
        display: block;
    }  
    .right_side{
        max-width: 440px;
        text-align: center;
    }
    .product .container{
    display: block;
    flex-direction: column;
    }
    .type_of_plants li, .categor{
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
    }
    main .left_side ul li a{
        margin: 0;
    }
    .product .product_sort ul{
        width: 100%;
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    
    .left_side img{
        display: none;
    }
    main .page_number{
        float: none;
        justify-content: center;
     }
    .Product_info{
        margin:auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .container_section3{
        flex-direction: column;
    }
    main .container_section3 .intfo_case{
        display: block;
        text-align: center;
        max-width: 100%;
    }
    main .container_section3 .intfo_case .Summer_h4{
        text-align: center;
        width: 100%;
    }
    .blog_img_text{
        width: 100%;
        text-align: center;
    }
    main .container_section3 .intfo_case .text_abou_us{
        text-align: center;
    }
    main .blog .container_section4 .blog_art{
        display: block;
        margin: auto;
    }
    main .blog .container_section4 .blog_art .blog_img_text{
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .footer_container{
        display: block;
        flex-direction: column;
    }
    .footer_container .footer_post{
        width: 100%;
       text-align: center;
       margin-bottom: 40px;
    }
    .footer_container .newsletters{
        max-width: 100%;
        text-align: center;
    }
    .footer_gredient{
        width: 100%;
        gap: 20px;
     }

    .footer_gredient a img{
        display: none;
    }
    .footer_info{
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }
    .footer_info{
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }
    .footer_info .for_media p{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    .footer_info .for_media ul{
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
    }
    .Social_accept{
        text-align: center;
    }
    .Social_accept ul{
        justify-content: center;
    }
}